<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 17.11.08 로그인 ktg -->
  <mapper namespace="com.gettoere.mapper.LoginMapper">
	
	<resultMap type="com.gettoere.vo.LoginVO" id="LoginInfoResult">
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
	</resultMap>
	
	<!-- 로그인 체크 -->
	<select id="loginCheck" resultType="integer" parameterType="com.gettoere.vo.LoginVO">
	select count(*) from member where id = #{id} and pw = #{pw}
	</select>
	
	<!-- select -->
	<select id = "totalAccount" resultType="integer">
	select
		count(*) 
	from
		member
	</select>
	
	<!-- select -->
	<select id = "login" resultType="com.gettoere.vo.LoginVO">
	select 
		*  
	from 
		member 
	where id = #{id}
	</select>
	
	<select id="loginCheck2" resultType="String">
        SELECT name FROM member
        WHERE id = #{id} AND pw = #{pw}
    </select>
    
    <select id="viewMember" resultType="com.gettoere.vo.LoginVO">
        SELECT 
        	mNo,
            id,
            name,
            nickname,
            grade,
            status,
            lNoManager,
            Email,
            Phone
        FROM member
        WHERE id = #{id} AND pw = #{pw}
    </select>
    

</mapper>